* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9967ea;
}
ul {
  list-style: none;
}
.container {
  width: 700px;
  height: 500px;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}
.container::before {
  content: "";
  position: absolute;
  background-image: url(./images/illustration-box-desktop.svg);
  width: 140px;
  height: 177px;
  left: -95px;
  top: 29%;
  z-index: 1000;
}
@media (max-width: 767px) {
  .container {
    width: 350px;
    flex-direction: column;
    margin-top: 105px;
  }
  .container::before {
    display: none;
  }
}
.image {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .image {
    width: 100%;
    height: 32%;
    overflow: unset;
  }
}
.image::before {
  content: "";
  position: absolute;
  top: 40px;
  left: -65px;
  background-image: url(./images/bg-pattern-desktop.svg),
    url(./images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .image::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 45px;
    background-image: url(./images/bg-pattern-desktop.svg),
      url(./images/illustration-woman-online-desktop.svg);
    background-size: 100%, 100%;
    width: 70%;
    height: 150%;
  }
}
.faq {
  flex: 1;
  padding: 50px 0;
}
@media (max-width: 767px) {
  .faq {
    padding: 0;
    height: 50%;
  }
}
.faq .questions {
  padding: 30px 30px 0 0;
}
.questions .box {
  margin-bottom: 30px;
  border-bottom: 1px solid silver;
  position: relative;
  overflow: hidden;
}
.box .question {
  position: relative;
  color: #444;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
  transform: 0.4s;
}
.box .question:hover {
  color: red;
}
.question .arrow {
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: red transparent transparent transparent;
  right: 10px;
  top: 5px;
}
.box .answer {
  color: silver;
  line-height: 1.4;
  transition: all 0.4s linear;
  height: 0;
}
.box .answer.show {
  height: 70px;
}
